{{var "data" htmlWebpackPlugin.options.data}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Noticia+Text" rel="stylesheet"> 
  </head>
  <body>
    <div id="root" class="parent">
      {{#each data.content}}
        {{> block}}
      {{/each}}
    </div>
  </body>
</html>