{{var "data" htmlWebpackPlugin.options.data}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Noticia+Text" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div id="root" class="parent">
      {{#each data.content}}
        {{> block}}
      {{/each}}
    </div>
    <footer>
      <div class="instructions instructions--start">
        <p>Read until there's somewhere to go deeper.</p>
      </div>
      <div class="instructions instructions--pinch-here">
        <p>Zoom to go deeper</p>
      </div>
    </footer>
  </body>
</html>