<div class="page">
  <div class="page__controls">
    <div class="page__control page__control--close">
      <span>Close</span>
    </div>
  </div>
  <div class="page__square-simulator">
    <div class="page__square">
      <div class="square-sizer"></div>
    </div>
  </div>
  <div class="page__content">
    <div class="page__inner">
      <h1>{{ title }}</h1>
      {{#each full-version}}
        <p>{{{.}}}</p>
      {{/each}}
      <!-- Placeholder text until copy is written -->
      <p>Commodo ut Lorem dolore commodo fugiat deserunt pariatur aliqua non cupidatat dolor. Incididunt magna laboris proident enim in magna est veniam consectetur adipisicing veniam ut. Irure id exercitation labore laboris enim proident proident quis esse minim mollit excepteur ut ut. Qui consequat id tempor adipisicing. Mollit amet ex dolor ipsum minim proident.</p>
      <p>Cillum ex in Lorem occaecat nostrud incididunt cupidatat pariatur culpa veniam occaecat. Tempor sunt ex reprehenderit nostrud. Esse id culpa Lorem irure culpa est. Cillum mollit excepteur ullamco velit cillum eiusmod. Eu mollit ipsum mollit elit do nostrud amet ea sunt velit id et. Sunt sint occaecat est culpa aute nostrud officia pariatur dolor proident magna.</p>
      <p>Deserunt enim consectetur id magna. Cillum nostrud do deserunt nisi est exercitation nulla dolore. Eiusmod culpa aliqua dolor irure aliqua ad fugiat dolore nisi. Excepteur sunt qui fugiat non excepteur in commodo ea ex excepteur culpa. Amet ut officia labore ex occaecat officia tempor sint duis in sit ipsum. Velit eu veniam laborum pariatur dolore proident.</p>
      <p>Ex voluptate consectetur veniam esse proident ipsum. Do irure fugiat incididunt ut deserunt enim commodo aute. Tempor aliquip aliquip veniam in reprehenderit voluptate aliqua veniam eiusmod excepteur sit laboris esse. Aliquip dolor tempor excepteur laboris aute commodo ullamco occaecat. Laboris magna qui Lorem duis anim esse aliqua Lorem aute sunt commodo amet consectetur culpa. Sunt non ut aliquip magna proident veniam labore eiusmod nostrud. Incididunt occaecat et consequat non et enim eu.</p>
    </div>
  </div>
</div>