@import '~reset-css';
@import 'colors';
@import 'footer';
@import 'typography';

@mixin cover() {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1 1 auto;
  width: 100%;
  padding: 0 10px;
}

.parent {
  width: 100%;
  max-width: 450px;
}

.aspect-ratio-sizer {
  padding-top: (11 / 8.5) * 100%;
  position: relative;
}

.layer {
  @include cover;
  background: rgb(245, 238, 255);
  background: #eee;
  padding: 1.4em 1.7em;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);

  line-height: 1.25;
  font-family: sans-serif;
  font-size: 20px;
  color: #444;


  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: top left;
    pointer-events: none;
  }
  &:before {
    border: 2px solid rgb(255, 0, 0);
  }
  &:after {
    border: 1px solid rgb(0, 255, 0);
  }
}
.layer.is-exiting {
  transform: scale(5) !important;
  opacity: 0 !important;
  transition: transform 175ms ease-in, opacity 50ms linear;
}
.layer.is-resetting {
  transition: transform 175ms ease-in, opacity 50ms linear;
}
.layer.will-exit {
  background-color: #FFD95B;
}
.layer.is-zooming {
  box-shadow: 5px 5px 0px rgba(0,0,0,0.33);
  transition: box-shadow 125ms linear;
}

.instructions {
  background: white;
  padding: 0.4em 0.7em;
  border-radius: 1em;

  display: inline-block;
}

.instructions--release {
  display: none;

  position: relative;
  z-index: 100;
}

html.will-exit {
  .instructions--start {
    display: none;
  }
  .instructions--release {
    display: inline-block;
  }
}